.progressBar{

    width: 90%;
    height: 14px ;
    border-radius: 30px;
    padding: 0 !important;
    background-color: #efefef;
    margin: 1.5% 0;

    @media (min-width: 992px){
        width: 100%;
    }
    
    .bar{
        border-radius: 30px;
        padding: 0 !important;
        height: 100%;
        background-color: var(--moderate-cyan);
    }
}